src/main/mule/implement.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="92be09fd-0caa-49a0-a32a-ef2f56e77522" >
		<db:my-sql-connection host="${mysql.host}" port="${mysql.port}" user="${mysql.user}" password="${mysql.password}" database="${mysql.database}" />
	</db:config>
	<flow name="GetAllFlights" doc:id="c6393c00-ae9e-4d15-b7e5-9807a6f94491" >
		<db:select doc:name="Select" doc:id="d16facc7-31b9-44f4-9fd6-77b0f3c94db3" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from american;]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="da6c99c4-8fac-46ab-b525-ca0e5962281d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="GetFlightById" doc:id="8a6849f8-f6ce-4be3-b7b4-91335bd11069" >
		<db:select doc:name="Select" doc:id="b3019028-8b17-430e-83cf-91dae976797e" config-ref="Database_Config" >
			<db:sql ><![CDATA[select * from american where id = :ID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'ID':attributes.uriParams.ID}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="509c27c0-4601-4025-bd76-4c3011c9e945" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="GetFlightByIds" doc:id="9024af05-8428-4cda-a462-1e75c57bbc9e" >
		<set-variable value="0" doc:name="Set Variable" doc:id="c4ffaf5c-ab68-41bc-aa98-ef5963fffa65" variableName="count"/>
		<ee:transform doc:name="init flights" doc:id="9ab0447a-7611-4f16-a7ba-e06566a25d3c">
			<ee:message>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="flights" ><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="070f0d46-f8aa-42e0-9082-4a34ea39537d" collection="#[payload.planeNumbers]">
			<db:select doc:name="Select" doc:id="f14cccd1-4fba-43e7-b9d5-bdc0f1c08a9a" config-ref="Database_Config">
			<db:sql><![CDATA[select * from american where id = :ID]]></db:sql>
				<db:input-parameters ><![CDATA[#[{'ID':payload}]]]></db:input-parameters>
		</db:select>
			<logger level="INFO" doc:name="Logger" doc:id="69de7458-c9b0-4a41-a683-b5aea9fd9d80" message="#[payload]"/>
			<set-variable value="#[vars.counter]" doc:name="Set Variable" doc:id="72b1a5f5-69b1-491e-b36d-83ecd756d177" variableName="counter"/>
			<ee:transform doc:name="add flights" doc:id="fc87522b-c9d8-4019-bc66-113eaa43557f">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="flights"><![CDATA[%dw 2.0
output application/java
---
vars.flights + payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		</foreach>
		<set-payload value="#[%dw 2.0&#10;output application/json&#10;---&#10;vars.flights]" doc:name="Result Output" doc:id="41538a57-e04f-4cf8-b246-686780e466c3" />
	</flow>
</mule>
